
/*audio*/

figure {
  display: none;
}


/*Template CSS de la page en display grid + couleurs*/

:root {
  --main-blue:#02b3e4;
  --main-white: #f9f9f9;
  --second-blue: #34568B;
 
}

#page {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    'nav head'
    'nav  main'
    'nav  play'
    'nav  foot';
  grid-template-rows: 150px 1fr 100px 70px;
  grid-template-columns: 130px 1fr;
  margin: 0;
  
}

#page > header {
  grid-area: head;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--second-blue);
  background-color: var(--second-blue);
  
  
}




#page > nav {
  grid-area: nav;
  display: flex;
  box-shadow: 5px 0px 32px rgba(0, 0, 0, 0.9);
}

#page > main {
  grid-area: main;
  background-color: var(--second-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: palevioletred;
}

#page > #play {
  grid-area: play;
  background-color: var(--main-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}


#page > footer {
  grid-area: foot;
  background-color:var(--main-blue);
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  color: var(--main-white);
}

footer {
  display: flex ;
  flex-direction: column;
}
li {
  list-style:none;
  text-decoration: none;
}
a:hover{
  color: chocolate;
}

img{
  cursor:pointer;
}

/*NAVBAR.CSS*/

#fourm {
  width:190px;
  height:190px;
  margin-left: 40px;	
  border-radius: 100px;
  box-shadow: 0 0px 100px pink;
 
}

nav {
  height: 100%;
  width: 200px; 
  position: fixed; /*Barre latérale fixe (reste en place lors du défilement) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  padding: 16px 80px 10px 16px;
  background-image: linear-gradient(to right, #02b3e4, #02b3e4, #02b3e4, 
  #02b3e4, #02b3e4, #02b3e4, #02b3e4, #02b3e4, #02b3e4, #02b3e4, #086883);
  
}
  
.show-btn {
  position: fixed;
  padding: 30px;
  margin-left: -70px;
  margin-top: 50px;
  border-style: none;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .8);
  cursor: pointer;
  background: var(--main-white);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.show-btn:hover {
  background-color:pink; /* Green */
  color: var(--second-blue);
}

button.plays {
  padding: 30px;
  margin-left: 40px;
  margin-top: 80px;
  text-align: center;
  border-style: none;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .8);
  cursor: pointer;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  background-color:pink; /* Green */
  color: var(--second-blue);
}

/*TO DO : essayer de fusionner les boutons si possible !*/

#text1 {
  color: pink;
  position: fixed;
  margin-top: 180px;
  margin-left: -75px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.mode1{
  margin-top: 250px;
  margin-bottom: 30px;
  margin-left: 45px;
  padding: 20px;
  text-align: center;
  border-style: none;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#text {
  color: pink;
  position: fixed;
  margin-bottom: 10px;
  margin-top: 30px;
  margin-left: -75px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.mode {
  margin-top: 100px;
  margin-left: 45px;
  padding: 20px;
  text-align: center;
  border-style: none;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/*Disposition des cartes*/


.card {
  height: 100px;
  width: 100px;
  margin: 10px;
  background-color: var(--main-blue);
  border-radius: 30px;
  border: none;
  outline: none;

  
}

.boxcards {
  margin-top: -80px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 150px);
  grid-gap: 3px 3em;
  
  
}


/*CSS élements*/

body{
  color: var(--second-blue);
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

header,
h1 {
  font-size: xx-large;
}

#logoMemory{
  width: 400px;
}

#replay{
  width: 40px;
  padding: 20px;
  cursor: pointer;
}

#replay:active{
  transform: rotateZ(-360deg);
  transition: all 0.1s ease;
}

/*MODALE.CSS*/

.popup{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.849);
  opacity: 0.90;
  width: 1000px;
  padding: 30px;
  box-shadow: 0 0 50px black;
  border-radius: 50px;
  border-style: solid;
}

input[type="checkbox"] {
  display: none;
}

#show:checked ~ .popup {
  display: block;
}

.popup .close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 28px;
  cursor: pointer;
  color: grey;
}

.popup .close-btn:hover {
  color: rgb(145, 0, 0);
}

.popup .text {
  padding-bottom: 20px;
  font-size: 35px;
  text-align: center;
  color: rgb(0, 0, 0);
  
}

.popup .text h1 {
  padding-bottom: 20px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  
  
}

.popup .text p {
  padding-bottom: 220px;
  font-size: 20px;
  font-weight: 550;
  text-align: center;
  
}

/*RESPONSIVE*/

@media screen and (max-width: 900px) {
  .boxcards {
    height: 50%;
    margin-top: 20px;
    margin-bottom: 227px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 140px);
    grid-gap: 3px 1em;
  }

  main {
    margin-left: 0px;
  }

  .card {
    margin-bottom: -100%;
    margin-top: -100px;
  }
}

/*RESPONSIVE NAVBAR*/

@media screen and (max-width: 900px){
  nav{
    width: 40px;
    height: 100%;
    background-color: var(--second-blue); /* Black */
    box-shadow: 10px 50px 10px rgba(0, 0, 0, 0.6);
  }

  .show-btn {
    font-size: 14px;
    margin-left: -68px;
    height: 20px;
    width: 69px;
  }
  
  .mode1{
    margin-left: 0px;
  }

  #text1 {
    font-size: 17px;
    margin-left: -89px;
  }

  #text {
    font-size: 17px;
    margin-left: -89px;
  }

  .mode {
    margin-left: 0px;
  }

  button.plays {
    margin-left: -10px;
  }

  #fourm{
    width:120px;
    height:120px;
    margin-left: -10px;
  }
}

/*Animations*/

.card:active{
  animation-name: flipOver;
  animation-duration: 0.2s;
}

.hidden {
  background-color: transparent;
  display: none;
}

@keyframes flipOver {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
};


/*Adapte le thème du jeu en fonction du thème de l'utilisateur */

@media (prefers-color-scheme:dark){
  body{color: #eeeeee; background: #191919}
};


