





.container1 {
    
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

input[type="checkbox"] {
    display: none;
}

.container1 {

    background: #2b2b2b;
    width: 1000px;
    padding: 30px;
    box-shadow: 0 0 100px rgba(247, 123, 237, .6);
    border-radius: 40px;
    border-style: solid;
    border-width: 4px;
    border-color: #242424;

}

#show:checked ~ .container1 {

    display: block;

}

.container1 .close-btn {

    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 28px;
    cursor: pointer;
    color: white;
}

.container1 .close-btn:hover {

    color: red;

}


.container1 .text h1 {
    padding-bottom: 20px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: wheat;
}

.container1 .text p {
    padding-bottom: 220px;
    font-size: 20px;
    font-weight: 550;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: wheat;
}

