



body {
    background-color: #545155 ;
  
  
  }
  
  
  
  #fourm {
    width:190px;
    height:190px;
    margin: 20px 0px 00px 20px;	
    border-radius: 100px;
    box-shadow: 0 0px 100px rgba(247, 123, 237, .6);
    cursor: pointer;
    border-style: solid;
    border-width: 5px;
    border-color: #242424;
  }
  
  aside {
    
    
    height: 100%;
    width: 160px; 
    position: fixed; /*Barre latérale fixe (reste en place lors du défilement) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #2b2b2b; 
    padding-top: auto;
    padding: 16px 80px 10px 16px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    border-right: 6px solid #242424;
    
  }
  
  .show-btn {
      position: fixed;
        padding: 30px;
        
        margin-left: 45px;
        margin-top: 50px;
      border-style: none;
      border-radius: 50px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, .8);
      cursor: pointer;
      background: white;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      border-style: solid;
      border-width: 5px;
      border-color: #242424;
  
  }

  .show-btn:hover {
    background-color: #4CAF50; /* Green */
    color: white;

  }

  #text1 {
    color: pink;
    position: fixed;
    margin-top: 180px;
    margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  }
  
.mode1{
    margin-top: 250px;
    margin-bottom: 30px;
      margin-left: 63px;
      padding: 20px;
      text-align: center;
      border-style: none;
      border-radius: 10px;
      font-family: Arial, Helvetica, sans-serif;
   
  }
  
  #text {
    color: pink;
    position: fixed;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  
  }
  
  .mode {
  
    margin-top: 100px;
    margin-left: 63px;
    padding: 20px;
    text-align: center;
    border-style: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
  
}

button.plays {
  
  padding: 30px;
  margin-left: 50px;
  margin-top: 100px;
  text-align: center;
  border-style: none;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .8);
  cursor: pointer;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
      border-width: 5px;
      border-color: #242424;
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}





@media screen and (max-width: 900px){
aside{
    width: 40px;
    height: 100%;
    background-color: #1b1b1b; /* Black */
    box-shadow: 10px 50px 10px rgba(0, 0, 0, 0.6);
}
.show-btn {
font-size: 16px;
margin-left: -15px;
height: 20px;
width: 69px;
}
.mode1{
    margin-left: 0px;
}
#text1 {
  font-size: 17px;
margin-left: -30px;

}

#text {
 font-size: 17px;
margin-left: -30px;
}


.mode {
   margin-left: 0px;
}
button.plays {
  margin-left: -10px;
}
#fourm{
    width:120px;
    height:120px;
    margin-left: -10px;
    
}



}