/*Template CSS de la page en display grid*/

#page {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
<<<<<<< HEAD
    'nav head'
    'nav  main'
    'nav  play'
    'nav  foot';
  grid-template-rows: 100px 1fr 100px 60px;
  grid-template-columns: 200px 1fr;
=======
    "nav head"
    "nav  main"
    "nav  play"
    "nav  foot";
  grid-template-rows: 50px 1fr 100px 60px;
  grid-template-columns: 130px 1fr;
>>>>>>> 787a6cc1f0a5b0f4d216c903f4d935ecf15b3b03
  margin: 0;
}

#page > header {
  grid-area: head;
  background-color: rgb(56, 53, 53);
  display: flex;
  align-items: center;
  justify-content: center;
}

#page > nav {
  grid-area: nav;
  background-color: grey;
  display: flex;
  box-shadow: 2px 2px 2px black;
}

#page > main {
  grid-area: main;
  background-color: rgba(63, 20, 9, 0.829);
  display: flex;
  align-items: center;
  justify-content: center;
}

#page > #play {
  grid-area: play;
  background-color: rgb(112, 16, 16);
  display: flex;
  align-items: center;
  justify-content: center;
}

#page > footer {
  grid-area: foot;
  background-color: rgb(56, 53, 53);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Flex dans les élèments*/

.container {
  height: 60%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  height: 80px;
  width: 80px;
  
  margin: 10px;
}

header,
h1 {
  font-size: xx-large;
}

.hidden {
  background-color: transparent;
  display: none;
}
<<<<<<< HEAD
/*Permet le flip over*/

.flip-over {
  background: #02b3e4;
  animation-name: flipOver;
  animation-duration: 0.5s;
}

@keyframes flipOver {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}
=======


  .boxcards{
   margin-top: -80px;
    display: grid;
    
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 150px );
    grid-gap: 3px 3em;
  
  

   }
   img{
     width: 90px;
     height: 120px;
   }

  
@media screen and (max-width: 900px){

.boxcards{
 height: 50%;
 margin-top:20px;
 margin-bottom: 227px;
 display: grid;
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 140px );
    grid-gap: 3px 1em;
}


main{
margin-left: 0px;
}
.card{
margin-bottom: -100%;
margin-top: -100px; 
}

}
>>>>>>> 787a6cc1f0a5b0f4d216c903f4d935ecf15b3b03
