/*Template CSS de la page en display grid*/

#page {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "nav head"
    "nav  main"
    "nav  play"
    "nav  foot";
  grid-template-rows: 100px 1fr 100px 60px;
  grid-template-columns: 200px 1fr;
  margin: 0;
}

#page > header {
  grid-area: head;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page > nav {
  grid-area: nav;
  background-color: grey;
  display: flex;
  box-shadow: 2px 2px 2px black;
}

#page > main {
  grid-area: main;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page > #play {
  grid-area: play;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page > footer {
  grid-area: foot;
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Flex dans les élèments*/

.container {
  height: 60%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  height: 80px;
  width: 80px;
  background-color: seagreen;
  margin: 10px;
}

/*Flex dans les élèments*/

header,
h1 {
  font-size: xx-large;
}

.hidden {
  background-color: transparent;
  display: none;
}
